.cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  gap: 30px;
}
.cards__item {
  flex-basis: calc((100% - 30px) / 5);
}
.cards__item-background {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  padding: 25px 100px;
  margin-bottom: 30px;
}
.cards__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.cards__paragraph {
  color: #757575;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
}
