body {
  font-family: "Roboto", "Raleway", sans-serif;
  background-color: #ffffff;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  box-sizing: border-box;
}
header {
  padding-bottom: 25px;
  padding-top: 24px;
}

footer {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0 auto;
  list-style: none;
  padding-inline-start: 0px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
